.navbar {
  background-color: #066129;
  border-bottom: 2px solid #f4a300; /* linha inferior opcional */
}

.navbar-brand img {
  height: 80px;
}

.nav-link {
  color: #f2f2f2 !important; /* verde da logo */
  font-weight: 500;
  font-size: 125% ;
  margin-right: 10px;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #f4a300 !important; /* laranja da logo */
}

.dropdown-menu {
  background-color: #ffffff;
  border-color: #009b77;
}

.dropdown-item {
  color: #009b77;
}

.dropdown-item:hover {
  background-color: #f4a300;
  color: #ffffff;
}